<!DOCTYPE html>
<html>

<head>
	<title>☕ Blacktea</title>
	<script src="/js/client.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scoreboard</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	<div class="container">
		<div id="roomID">
			<h2>Rules:</h2>
			<br><br><p>1) You must provide a valid word!</p>
			<br><p>2) You must use a word starting with the last letter of the previous word!</p>
			<br><p>3) You must provide a new word, no using same words again!</p>
			<br><p>4) You must use valid characters (26 characters of english + "-")!</p>
			<br><p>5) You must have at least 2 players!</p>
			<br><p>6) You must answer in 10 seconds!</p>
			<br><br>
			<h2>Made by:</h2><br>
			<p>- Elicopter, Banana pan and Pan</p>
		</div>
	</div>
</body>

</html>